.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


/* Shared section */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


body{
    

}

.section-heading{
    max-width: 1360px;

}

.section-heading h2{
    font-size: 48px;
    color: black;
    margin-bottom: 16px;
    text-transform: capitalize;


}

.section-heading p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 16px;


}


/* All Button Here  */

.btn{
    background-color: #469165;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    border: none;
}

.btn:hover{
    background-color: white;
    padding: 10px 14px;
    font-size: 16px;
    font-weight: 600;
    color: #469165;
    border-radius: 5px;
    border: 2px solid #469165;
}



.btn-alt{
    background-color: rgba(201, 25, 25, 0);
    padding: 10px 14px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 5px;
    border: 2px solid #ffffff;
}

.btn-alt:hover{
    background-color: #30634500;
    padding: 10px 14px;
    font-size: 16px;
    font-weight: 600;
    color: #469165;
    border-radius: 5px;
    border: 2px solid #469165;
}


.btn-top{
    background-color: white;
    padding: 10px 14px;
    font-size: 16px;
    font-weight: 600;
    color: #469165;
    border-radius: 50px;
    border: 2px solid #469165;
}

.btn-top:hover{
    background-color: #469165;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 50px;
    border: none;
}


/* Main section */

.site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    max-width: 1360px;
    padding: 16px 0 16px;
    margin: 0 auto;
    /* background-color: #f9f9f9; */

}

.site-header ul{
    list-style: none;
    display: flex;
    gap: 32px;
}

.site-header ul li{
    font-size: 16px;
    color: black;
    font-weight: 500;
    cursor: pointer;
}

/* Nav Section END  */


/* Hero Section Start  */



#hero{
    background: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.hero-container{
    padding: 115px 0 180px;   
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    align-items: center;
    text-align: center;


}

.hero-container h1{
    color: white;
    font-size: 72px;
    line-height: 85px;
    margin-bottom: 32px;
}

.green-title{
    color: #469165;
}


.hero-container p{
    color: white;
    line-height: 24px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;

}

.btn-early{
    margin-bottom: 32px;
}

.hero-buttons .btn{
    margin-right: 10px;

}

.hero-buttons .btn-alt{
    margin-left: 10px;

}



/* Note Section Started  */

#note{

}

.note-container{
    padding: 115px 0 180px;   
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    /* background-color: beige; */
}

.cards{
    display: flex;
    gap: 24px;
    margin-top: 45px;
    
}

.cards .card{
    width: 322px;
    height: 300px;
    background-color: #ffffff;
    margin: auto;
    padding: 70px 24px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.075);
    
}

.cards img{
    background-color: #F95555;
    border-radius: 50px;
    padding: 20px;
    margin-bottom: 16px;
}

.card h3{
    color: black;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.card p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
}


/* Brain Section Start  */

#brain{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */
}

.brain-img{
    /* max-width: 600px; */
    /* width: 100%; */
    /* height: 600px; */
    width: 50%;
    /* align-items: left; */
    padding: 50px 0;
    flex: 1;
    display: flex; 
    /* justify-content: center; */
    
    
}



.brain-container{
    width: 85%;
    max-width: 1360px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;

}

.brain-info{
    /* width: 400px; */
    flex: 2;
    /* background-color: aqua; */
    /* margin-left: -100px; */
    
}


.small-text{
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}



.brain-info h2{
    font-size: 48px;
    color: black;
    margin-bottom: 16px;
    text-transform: capitalize;
    margin-top: 16px;
    
}


.brain-info p{    
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 32px;
    margin-top: 16px;
}

.list-info ul{
    list-style: none;
    padding: 0;
    
}

.list-info ul li{
    align-items: center;
    display: flex;
    font-size: 16px;
    margin-bottom: 12px;

}



.list-info ul li img{
    margin-right: 15px;
    width: 24px;
    height: 24px;
   
}






/* Early-access section started here  */

#early-access{
    
    

}

.early-access-container{
    background-color: #F7F6F2;
    width: 85%;
    max-width: 1360px;
    margin: 80px auto;
    /* justify-content: center; */
    text-align: center;
    padding: 80px 0;
    

}

.early-access-container button{
    margin-bottom: 16px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.151);
}


.early-access-container p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 16px;
}


/* Footer Started Here  */

footer{
    background-color: #001931;
    padding: 120px 0 0 0;
    
}

.footer-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    
}

.footer-top{
    padding: 0 px;
    display: flex;
    justify-content: space-around;
    
}


.social-icon h4{
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 24px;

}

.social-icon ul{
    display: flex;
    gap: 16px;
    margin-bottom: 80px;
}

.social-icon ul li{
    list-style: none;
}

.social-icon ul li i{
    color: white;
}




.footer-bottom{
    /* margin: 300px; */
    /* background-color: #F95555; */
    padding: 30px;
    /* align-items: center; */
    text-align: center;
}

.footer-bottom small{
    color: white;
    font-size: 16px;
    font-weight: 400 ;
    /* margin-top: 20px; */
    margin: 100px;
}

.footer-bottom hr{
    opacity: 0.2;
    margin-bottom: 30px;


}
















































